body{
    background-color: rgb(205, 219, 249);
}

@font-face {
  font-family: 'League Spartan';
  src: url('leaguespartan-bold-copy.ttf') format('truetype');
}

h1{
    font-family: 'league spartan';
    font-size: 50px;
    color: rgb(26, 26, 255);
}

body{
    font-family: 'helvetica';
    font-weight: bold;
    font-size: 30px;
}